<extend name="TableNode8/base3"/>
<block name="blocktable">
<hr style=" border:1px dashed   #b9d0d6"></hr>
<div style="height:300px;border:1px solid #d9d9d9;width:1400px;">
<table cellpadding="0" cellspacing="0" id="bodytable"  style="border-top:2px solid #900;  overflow:scroll; height:28px;" >
 <tr style=" background:#f0f0f0; font-weight:600; font-size:12px;"> 
   <td colspan="7" align="center" width="160" style="border:1px solid #d0d0d0;border-left:none "> 扣款日期</td>
   <td colspan="7" align="center" width="160" style="border:1px solid #d0d0d0;border-left:none ">所属日期</td>
   <td colspan="7" align="center" width="160" style="border:1px solid #d0d0d0;border-left:none ">税种</td>
   <td colspan="7" align="center" width="160" style="border:1px solid #d0d0d0;border-left:none ">项目名称</td>
    <td colspan="7" align="center" width="160" style="border:1px solid #d0d0d0;border-left:none ">扣款金额</td>
     <td colspan="7" align="center" width="160" style="border:1px solid #d0d0d0;border-left:none ">税票号码</td>
     <td colspan="7" align="center" width="160" style="border:1px solid #d0d0d0;border-left:none ">凭证序号</td>
      <td colspan="7" align="center" width="160" style="border:1px solid #d0d0d0;border-left:none ">扣款日期</td>
      <td colspan="7" align="center" width="160" style="border:1px solid #d0d0d0;border-left:none ">扣款信息</td
    
   
 ></tr>
 <foreach name="res" item="v">
<if condition="$v['num']%2 neq 0 ">
  <tr  style=" border:#d9d9d9 1px;" height="28" id="tabledata">
   
   
   <td colspan="7" align="left" style="border:1px solid #d0d0d0;border-left:none ">{$v.update_time}</td>
   <td colspan="7" align="left" style="border:1px solid #d0d0d0;border-left:none ">{$v.create_time}</td>
  <td colspan="7" align="center" width="160" style="border:1px solid #d0d0d0;border-left:none ">税种</td>
   <td colspan="7" align="center" width="160" style="border:1px solid #d0d0d0;border-left:none ">{$v.table_name}</td>
    <td colspan="7" align="center" width="160" style="border:1px solid #d0d0d0;border-left:none ">扣款金额</td>
     <td colspan="7" align="center" width="160" style="border:1px solid #d0d0d0;border-left:none ">税票号码</td>
     <td colspan="7" align="center" width="160" style="border:1px solid #d0d0d0;border-left:none ">凭证序号</td>
      <td colspan="7" align="center" width="160" style="border:1px solid #d0d0d0;border-left:none ">扣款日期</td>
      <td colspan="7" align="center" width="160" style="border:1px solid #d0d0d0;border-left:none ">扣款信息</td
 ></tr>
 <else/>
 <tr  style=" background:#f0f0f0;" height="28">

   <td colspan="7" align="left" style="border:1px solid #d0d0d0;border-left:none ">{$v.update_time}</td>
   <td colspan="7" align="left" style="border:1px solid #d0d0d0;border-left:none ">{$v.create_time}</td>
   <td colspan="7" align="center" width="160" style="border:1px solid #d0d0d0;border-left:none ">税种</td>
    <td colspan="7" align="center" width="160" style="border:1px solid #d0d0d0;border-left:none ">{$v.table_name}</td>
 
    <td colspan="7" align="center" width="160" style="border:1px solid #d0d0d0;border-left:none ">扣款金额</td>
     <td colspan="7" align="center" width="160" style="border:1px solid #d0d0d0;border-left:none ">税票号码</td>
     <td colspan="7" align="center" width="160" style="border:1px solid #d0d0d0;border-left:none ">凭证序号</td>
      <td colspan="7" align="center" width="160" style="border:1px solid #d0d0d0;border-left:none ">扣款日期</td>
      <td colspan="7" align="center" width="160" style="border:1px solid #d0d0d0;border-left:none ">扣款信息</td
 ></tr>
 </if>
 </foreach> 
</table></div>
<div  style="margin:0 auto; width:200px;">
  <p>共<span style=" color:red;">{$count}</span>条记录</p>
</div>
</block>
</extend>
