<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{$lang.home}{if $ur_here} - {$ur_here} {/if}</title>
<link href="templates/public.css" rel="stylesheet" type="text/css">
{include file="javascript.htm"}
</head>
<body>
<div id="dcWrap">
 {include file="header.htm"}
 <div id="dcLeft">{include file="menu.htm"}</div>
 <div id="dcMain">
   {include file="ur_here.htm"}
   <div id="mainBox">
    <!-- {if $rec eq 'default'} 分类列表 -->
    <h3><a href="{$action_link.href}" class="actionBtn add">{$action_link.text}</a>{$ur_here}</h3>
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
     <tr>
        <th width="40" align="center">{$lang.sort}</th>
        <th align="left" colspan="4">{$lang.article_category_name}</th>
        <th align="left" width="30">展示形式</th>
        <th align="center">{$lang.handler}</th>
      </tr>
      <!-- {foreach from=$article_list item=article_list} -->
      <tr>
        <td align="center">{$article_list.sort}</td>
        <td  colspan="4">{$article_list.cat_name}</td>
        <td>{if $article_list.type eq 'list'}列表{/if}{if $article_list.type eq 'single'}内容{/if}</td>
        <td align="center">
          <a href="article_category.php?rec=add&cat_id={$article_list.cat_id}">增加子类</a> | <a href="article_category.php?rec=setting&cat_id={$article_list.cat_id}">设置</a> | <a href="article_category.php?rec=edit&cat_id={$article_list.cat_id}" target="_blank" >{$lang.edit}</a> | <a href="article_category.php?rec=del&cat_id={$article_list.cat_id}">{$lang.del}</a>
        </td>
      </tr>
        <!-- {foreach from=$article_list.sub item=article_list_2} -->
        <tr>
          <td align="right"></td>
          <td align="center" width="20">{$article_list_2.sort}</td>
          <td colspan="3" {if $article_list_2.enable} style="color:#f00"{/if}>{$article_list_2.cat_name}</td>
          <td>{if $article_list_2.type eq 'list'}列表{/if}{if $article_list_2.type eq 'single'}内容{/if}</td>
          <td align="center">
            <a href="article_category.php?rec=add&cat_id={$article_list_2.cat_id}">增加子类</a> | <a href="article_category.php?rec=setting&cat_id={$article_list_2.cat_id}">设置</a> | <a href="article_category.php?rec=edit&cat_id={$article_list_2.cat_id}" target="_blank" >{$lang.edit}</a> | <a href="article_category.php?rec=del&cat_id={$article_list_2.cat_id}">{$lang.del}</a>
          </td>
        </tr>
          <!-- {foreach from=$article_list_2.sub item=article_list_3} -->
          <tr>
            <td align="right"></td>
            <td align="center" width="20"></td>
            <td align="center" width="20">{$article_list_3.sort}</td>
            <td colspan="2" {if $article_list_3.enable} style="color:#f00"{/if}>{$article_list_3.cat_name}</td>
            <td>{if $article_list_3.type eq 'list'}列表{/if}{if $article_list_3.type eq 'single'}内容{/if}</td>
            <td align="center">
              <a href="article_category.php?rec=add&cat_id={$article_list_3.cat_id}">增加子类</a> | <a href="article_category.php?rec=setting&cat_id={$article_list_3.cat_id}">设置</a> | <a href="article_category.php?rec=edit&cat_id={$article_list_3.cat_id}" target="_blank" >{$lang.edit}</a> | <a href="article_category.php?rec=del&cat_id={$article_list_3.cat_id}">{$lang.del}</a>
            </td>
          </tr>
          <!-- {/foreach} -->
            <!-- {foreach from=$article_list_3.sub item=article_list_4} -->
            <tr>
              <td align="right"></td>
              <td align="center" width="20"></td>
              <td align="center" width="20"></td>
              <td align="center" width="20">{$article_list_4.sort}</td>
              <td colspan="1" {if $article_list_4.enable} style="color:#f00"{/if}>{$article_list_4.cat_name}</td>
              <td>{if $article_list_4.type eq 'list'}列表{/if}{if $article_list_4.type eq 'single'}内容{/if}</td>
              <td align="center">
                <a href="article_category.php?rec=add&cat_id={$article_list_4.cat_id}">增加子类</a> | <a href="article_category.php?rec=setting&cat_id={$article_list_4.cat_id}">设置</a> | <a href="article_category.php?rec=edit&cat_id={$article_list_4.cat_id}" target="_blank" >{$lang.edit}</a> | <a href="article_category.php?rec=del&cat_id={$article_list_4.cat_id}">{$lang.del}</a>
              </td>
            </tr>
            <!-- {/foreach} -->
        <!-- {/foreach} -->
      <!-- {/foreach} -->
    </table>
    <!-- {else $rec eq 'add' || $rec eq 'setting'} 分类添加或编辑 -->
    <h3><a href="{$action_link.href}" class="actionBtn">{$action_link.text}</a>{$ur_here}</h3>
    <form action="article_category.php?rec={$form_action}" method="post">
     <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
       <td width="80" align="right">{$lang.product_category_name}</td>
       <td>
        <input type="text" name="cat_name" value="{$cat_info.cat_name}" size="40" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td width="80" align="right">列表名称</td>
       <td>
        <input type="text" name="nick_name" value="{$cat_info.nick_name}" size="40" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td align="right">是否启用</td>
       <td>
        <input type="radio" name="enable" value="0"{if $cat_info.enable eq '0'} checked{/if}>禁用   <input type="radio" name="enable" value="1"{if $cat_info.enable eq '1'} checked{/if}>启用
       </td>
      </tr>
      <tr>
       <td align="right">展示形式</td>
       <td>
        <input type="radio" name="type" value="list"{if $cat_info.type <> 'single'} checked{/if}>列表
        <input type="radio" name="type" value="single"{if $cat_info.type eq 'single'} checked{/if}>内容
       </td>
      </tr>
      <tr>
       <td align="right">期间样式</td>
       <td>
         <select name="time_type" id="time_type">
           <option value="" {if !$cat_info.time_type} selected{/if}>期间选择样式</option>
           <option value="1" {if $cat_info.time_type eq '1'} selected{/if}>税款所属期间...</option>
           <option value="2" {if $cat_info.time_type eq '2'} selected{/if}>税种所属期...</option>
           <option value="3" {if $cat_info.time_type eq '3'} selected{/if}>税种所属期(是否季报)...</option>
         </select>
       </td>
      </tr>
      <tr>
       <td align="right">父级分类</td>
       <td>
        <select name="pid">
         <option value="0">顶级分类</option>
         <!-- {if $rec eq 'add' || $rec eq 'setting'} 分类添加 -->
           <!-- {foreach from=$cat_list item=cate} -->
           <option value="{$cate.cat_id}"<!-- {if $cate.cat_id eq $cur_cat} --> selected="selected"<!-- {/if} -->>{$cate.cat_name}</option>
             <!-- {foreach from=$cate.sub item=cate_sub} -->
             <option value="{$cate_sub.cat_id}"<!-- {if $cate_sub.cat_id eq $cur_cat} --> selected="selected"<!-- {/if} -->>　- {$cate_sub.cat_name}</option>
               <!-- {foreach from=$cate_sub.sub item=cate_sub_sub} -->
               <option value="{$cate_sub_sub.cat_id}"<!-- {if $cate_sub_sub.cat_id eq $cur_cat} --> selected="selected"<!-- {/if} -->>　　- {$cate_sub_sub.cat_name}</option>
               <!-- {/foreach} -->
             <!-- {/foreach} -->
           <!-- {/foreach} -->
          <!-- {/if} -->
        </select>
       </td>
      </tr>
      <tr>
       <td align="right">内容</td>
       <td>
        <textarea id="content" name="content" style="width:680px;height:400px;" class="textArea">{$cat_info.content}</textarea>
       </td>
      </tr>
      <tr>
       <td align="right">{$lang.sort}</td>
       <td>
        <input type="text" name="sort" value="{if $cat_info.sort}{$cat_info.sort}{else}50{/if}" size="5" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td></td>
       <td>
        <input type="hidden" name="cat_id" value="{$cat_info.cat_id}" />
        <input name="submit" class="btn" type="submit" value="{$lang.btn_submit}" />
       </td>
      </tr>
     </table>
    </form>
    <!-- {/if} -->
   </div>
 </div>
 {include file="footer.htm"}
 </div>
</body>
</html>
