<script type="text/javascript" src="images/jquery.min.js"></script>
<!-- {if $no_user} -->
<script type="text/javascript">
<!--
// 这里把JS用到的所有语言都赋值到这里
{foreach from=$lang.js_lang key=key item=item}
var {$key} = "{$item}";
{/foreach}
//-->
</script>
<!-- {/if} -->
<script type="text/javascript">
{literal}
$(document).ready(function(){
  $('.M').hover(
    function(){
      $(this).addClass('active');
    },
    function(){
      $(this).removeClass('active');
    });

    $(".tableBasic tr").hover(function(){
        $(this).addClass("even");
    }).mouseout(function(){
        $(this).removeClass("even");
    })
});
{/literal}
</script>

<!-- {if $cur eq 'article'} -->
<script type="text/javascript">
{literal}
// 表单全选
function selectcheckbox(form)
{
	for(var i = 0;i < form.elements.length; i++)
	{
		var e = form.elements[i];
		if(e.name != 'chkall' && e.disabled != true) e.checked = form.chkall.checked;
	}
}

{/literal}
</script>
<!-- {/if} -->
