	<div class="data_table">
	<body text=#000000 vLink=#5493b4 link=#003fb7 bgColor=#e5e5e5 onLoad="checkfh();ifUpdate();ifCount();"
	onbeforeunload="OnCloseWnd();">
		<TABLE cellSpacing=0 cellPadding=7 width="100%" align=center border=0>
			<TBODY>
				<TR>
					<TD width="100%" align=middle vAlign=center bgColor=#ffffff class=bodyline>
						<form name="form1" method="post" action="">
							<TABLE class="tableclass" cellSpacing=0 cellPadding=0 width="100%" align=center
							id="tb">
								<TBODY>
									<TR align="middle" height=20>
										<TD colspan="8" class="tdclass01">
											<B>增值税纳税申报表</B>
										</TD>
									</TR>
									<TR align="middle" height=20>
										<TD colspan="8" class="tdclass">
											<br>
											<B>（一般纳税人适用）</B>
											<br>
											<div align=left>
												&nbsp;&nbsp; 根据国家税收法律法规及增值税相关规定制定本表。纳税人不论有无销售额， 均应按税务机关核定的纳税期限填写本表，并向当地税务机关申报。
												<br>
												<font color="red">
													<div align="center">
														<b>特别提醒:</b>
														您好,请先填写附表，在填写完附表后,点击本页面下方【提取数据】按钮,再填写本表;
														<br>
														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 第
														<b>1、4、7、8、11</b>
														栏的“本月数”，在填写完附表1后,点击本页面下方【提取数据】按钮，会自动带出数据。
													</div>
												</font>
											</div>
										</TD>
									</TR>
									<tr align="middle" height=20>
										<td align="left" colspan="3" class="tdclass">税款所属时间：自2013年10月01日至2013年10月31日</td>
										<td colspan="3" class="tdclass">填表日期：2013年11月11日</td>
										<td align="right" colspan="2" class="tdclass">金额单位：元至角分</td>
									</tr>
									<TR align=middle height=20>
										<TD class="tdclass01" nowrap="nowrap">
											<B>纳税人识别号</B>
										</TD>
										<td colspan="2" class="tdclass">410711775106396</td>
										<td class="tdclass01" colspan="2">所属行业</td>
										<td colspan="3" class="tdclass">轻小型起重设备制造</td>
									</TR>
									<TR align=middle height=20>
										<TD class="tdclass01" nowrap="nowrap">
											<B>纳税人名称</B>
										</TD>
										<td class="tdclass" style="width:15%">河南起重机器有限公司（公章）</td>
										<td class="tdclass01">法定代表人姓名</td>
										<td class="tdclass" style="width:5%">郭章先</td>
										<td class="tdclass01">注册地址</td>
										<td class="tdclass">新乡市新长北线北侧</td>
										<td class="tdclass01" nowrap="nowrap">生产经营地址</td>
										<td class="tdclass">新乡市新长北线北侧</td>
									</TR>
									<TR align=middle height=20>
										<TD class="tdclass01" nowrap="nowrap">
											<B>开户银行及帐号</B>
										</TD>
										<td class="tdclass" style="width:17%">1704022419021023193</td>
										<td class="tdclass01" colspan="2">登记注册类型</td>
										<td class="tdclass">其他有限责任公司</td>
										<td class="tdclass01">电话号码</td>
										<td class="tdclass" colspan="4">03733321341</td>
									</TR>
									<TR align=middle height=20>
										<TD colspan="2" rowspan="2" class="tdclass01">
											<B>项 目</B>
										</TD>
										<TD colspan="2" width="10%" rowspan="2" class="tdclass01">
											<B>栏 次</B>
										</TD>
										<TD colspan="2" class="tdclass01">
											<B>一般货物、劳务和应税服务</B>
										</TD>
										<TD colspan="2" class="tdclass01">
											<B>即征即退货物、劳务和应税服务</B>
										</TD>
									</TR>
									<TR align=middle height=20>
										<TD width="12%" class="tdclass01"><B>本 月 数</B></TD>
										<TD width="12%" class="tdclass01"><B>本年累计</B></TD>
										<TD width="12%" class="tdclass01"><B>本 月 数</B></TD>
										<TD width="12%" class="tdclass01"><B>本年累计</B></TD>
									</TR>
									<TR height=20>
										<TD width="5%" rowspan="10" align=center class="tdclass">
											<B>销<BR>售<BR>额<BR></B>
										</TD>
										<TD align=left class="tdclass01">（一）按适用税率计税销售额</TD>
										<TD colspan="2" align=left class="tdclass01"><B>1</B></TD>
										<TD align=left class="tdclass01">
											<input value="6154705.81" class="tdinput01" onkeydown="checklock(this);"
											onchange="check(this);" onFocus="Mover(this);" onfocus="Mover(this);" maxLength="14"
											size="16" onblur="Mout(this);checkit(this);checkIntLength(this,16);" name="COL0101"
											tabindex="1" maxlength="14">
										</TD>
										<TD class="tdclass01">
											<input value="168734588.76" class="tdinput01" onKeyDown="checklock(this);"
											name="COL0102" tabindex="39" readOnly onfocus="Mover(this);" maxLength="14"
											size="16" onblur="Mout(this);checkit(this);checkIntLength(this,16);">
										</TD>
										<TD class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											onfocus="Mover(this);" maxLength="14" size="16" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL0103" tabindex="77">
										</TD>
										<TD align=right class="tdclass01">
											<input value="0.00" class="tdinput01" onkeydown="checklock(this);" readOnly
											onfocus="Mover(this);" maxLength="14" size="16" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL0104" tabindex="115">
										</TD>
									</tr>
									<TR height=20>
										<TD align=left class="tdclass">
											其中：应税货物销售额
										</TD>
										<TD colspan="2" align=left class="tdclass">
											<B>
												2
											</B>
										</TD>
										<TD align=left class="tdclass">
											<input value="6154705.81" class="tdinput" onKeyDown="checklock(this);"
											onchange="check(this);" maxLength="14" size="16" onFocus="Mover(this);"
											onblur="Mout(this);checkit(this);checkIntLength(this,16);" name="COL0201"
											tabindex="2" maxLength="14">
										</TD>
										<TD class="tdclass01">
											<input value="167562281.06" class="tdinput01" onKeyDown="checklock(this);"
											onchange="check(this);" maxLength="14" size="16" onFocus="Mover(this);"
											onblur="Mout(this);checkit(this);checkIntLength(this,16);" readOnly name="COL0202"
											tabindex="40">
										</TD>
										<TD class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL0203" tabindex="78" maxLength="14">
										</TD>
										<TD align=right class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL0204" tabindex="116">
										</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass">
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;应税劳务销售额
										</TD>
										<TD colspan="2" align=left class="tdclass">
											<B>
												3
											</B>
										</TD>
										<TD align=left class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL0301" tabindex="3">
										</TD>
										<TD class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL0302" tabindex="41">
										</TD>
										<TD class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL0303" tabindex="79">
										</TD>
										<TD align=right class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL0304" tabindex="117">
										</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass">
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;纳税检查调整的销售额
										</TD>
										<TD colspan="2" align=left class="tdclass">
											<B>
												4
											</B>
										</TD>
										<TD align=left class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL0401" tabindex="4" readonly="true">
										</TD>
										<TD class="tdclass01">
											<input value="1172307.7" class="tdinput01" onKeyDown="checklock(this);"
											onchange="check(this);" maxLength="14" size="16" onFocus="Mover(this);"
											onblur="Mout(this);checkit(this);checkIntLength(this,16);" readOnly name="COL0402"
											tabindex="42">
										</TD>
										<TD class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL0403" tabindex="80" readonly="true">
										</TD>
										<TD align=right class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL0404" tabindex="118">
										</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass">
											（二）按简易办法计税销售额
										</TD>
										<TD colspan="2" align=left class="tdclass">
											<B>
												5
											</B>
										</TD>
										<TD align=left class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL0501" tabindex="5">
										</TD>
										<TD class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL0502" tabindex="43">
										</TD>
										<TD class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL0503" tabindex="81">
										</TD>
										<TD align=right class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL0504" tabindex="119">
										</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass">
											其中：纳税检查调整的销售额
										</TD>
										<TD colspan="2" align=left class="tdclass">
											<B>
												6
											</B>
										</TD>
										<TD align=left class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL0601" tabindex="6">
										</TD>
										<TD class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL0602" tabindex="44">
										</TD>
										<TD class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL0603" tabindex="82">
										</TD>
										<TD align=right class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL0604" tabindex="120">
										</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass">
											（三）免、抵、退办法出口销售额
										</TD>
										<TD colspan="2" align=left class="tdclass">
											<B>
												7
											</B>
										</TD>
										<TD align=left class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL0701" tabindex="7" readonly="true">
										</TD>
										<TD class="tdclass01" align=middle>
											<input type="text" value="0.00" class="tdinput01" onKeyDown="checklock(this);"
											onchange="check(this);" maxLength="14" size="16" onFocus="Mover(this);"
											onblur="Mout(this);checkit(this);checkIntLength(this,16);" readonly name="COL0702"
											tabindex="83">
										</TD>
										<TD class=tdclass align=middle>──</TD>
										<TD class=tdclass align=middle>──</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass">
											（四）免税销售额
										</TD>
										<TD colspan="2" align=left class="tdclass">
											<B>
												8
											</B>
										</TD>
										<TD align=left class="tdclass">
											<input value="0.00" class="tdinput" onkeydown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL0801" tabindex="8" readonly="true">
										</TD>
										<TD class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL0802" tabindex="46">
										</TD>
										<TD align=middle class="tdclass">──</TD>
										<TD align=middle class="tdclass">──</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass">
											其中：免税货物销售额
										</TD>
										<TD colspan="2" align=left class="tdclass">
											<B>
												9
											</B>
										</TD>
										<TD align=left class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL0901" tabindex="9">
										</TD>
										<TD class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL0902" tabindex="47">
										</TD>
										<TD class=tdclass align=middle>──</TD>
										<TD class=tdclass align=middle>──</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass">
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;免税劳务销售额
										</TD>
										<TD colspan="2" align=left class="tdclass">
											<B>
												10
											</B>
										</TD>
										<TD align=left class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL1001" tabindex="10">
										</TD>
										<TD class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL1002" tabindex="48">
										</TD>
										<TD class=tdclass align=middle>──</TD>
										<TD class=tdclass align=middle>──</TD>
									</TR>
									<TR height=20>
										<TD rowspan="14" align=center class="tdclass">
											<B>
												税
												<BR>
												款
												<BR>
												计
												<BR>
												算
												<BR>
											</B>
										</TD>
										<TD align=left class="tdclass">
											销项税额
										</TD>
										<TD colspan="2" align=left class="tdclass">
											<B>
												11
											</B>
										</TD>
										<TD align=left class="tdclass">
											<input value="1046299.98" class="tdinput" onKeyDown="checklock(this);"
											onchange="check(this);" maxLength="14" size="16" onFocus="Mover(this);"
											onblur="Mout(this);checkit(this);checkIntLength(this,16);" id="COL1101"
											name="COL1101" tabindex="11" readonly="true">
										</TD>
										<TD class="tdclass01">
											<input value="28684880.44" class="tdinput01" onKeyDown="checklock(this);"
											onchange="check(this);" maxLength="14" size="16" onFocus="Mover(this);"
											onblur="Mout(this);checkit(this);checkIntLength(this,16);" readOnly name="COL1102"
											tabindex="49">
										</TD>
										<TD class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL1103" tabindex="87" readonly="true">
										</TD>
										<TD align=right class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL1104" tabindex="125">
										</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass">
											进项税额
										</TD>
										<TD colspan="2" align=left class="tdclass">
											<B>
												12
											</B>
										</TD>
										<TD align=left class="tdclass">
											<input value="947715.84" class="tdinput" onKeyDown="checklock(this);"
											onchange="check(this);" maxLength="14" size="16" onFocus="Mover(this);"
											onblur="Mout(this);checkit(this);checkIntLength(this,16);" name="COL1201"
											tabindex="12">
										</TD>
										<TD class="tdclass01">
											<input value="26611188.1" class="tdinput01" onKeyDown="checklock(this);"
											onchange="check(this);" maxLength="14" size="16" onFocus="Mover(this);"
											onblur="Mout(this);checkit(this);checkIntLength(this,16);" readOnly name="COL1202"
											tabindex="50">
										</TD>
										<TD class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL1203" tabindex="88">
										</TD>
										<TD align=right class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL1204" tabindex="126">
										</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass">
											上期留抵税额
										</TD>
										<TD colspan="2" align=left class="tdclass">
											<B>
												13
											</B>
										</TD>
										<TD align=left class="tdclass">
											<input value="6755.76" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL1301" readonly tabindex="13" title="本栏取CTAIS数据，不能修改">
										</TD>
										<TD class=tdclass01>
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readonly name="COL1302" tabindex="13">
										</TD>
										<TD class="tdclass">
											<input value="0.00" class="tdinput" oonKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL1303" readonly tabindex="89" title="本栏取CTAIS数据，不能修改">
										</TD>
										<TD class=tdclass align=middle>──</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass">
											进项税额转出
										</TD>
										<TD colspan="2" align=left class="tdclass">
											<B>
												14
											</B>
										</TD>
										<TD align=left class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL1401" tabindex="14">
										</TD>
										<TD class="tdclass01">
											<input value="20370.12" class="tdinput01" onKeyDown="checklock(this);"
											onchange="check(this);" maxLength="14" size="16" onFocus="Mover(this);"
											onblur="Mout(this);checkit(this);checkIntLength(this,16);" readOnly name="COL1402"
											tabindex="52">
										</TD>
										<TD class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL1403" tabindex="90">
										</TD>
										<TD align=right class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL1404" tabindex="128">
										</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass">
											免、抵、退应退税额
										</TD>
										<TD colspan="2" align=left class="tdclass">
											<B>
												15
											</B>
										</TD>
										<TD align=left class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL1501" tabindex="15">
										</TD>
										<TD class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL1502" tabindex="53">
										</TD>
										<TD class=tdclass align=middle>──</TD>
										<TD class=tdclass align=middle>──</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass">
											按适用税率计算的纳税检查应补缴税额
										</TD>
										<TD colspan="2" align=left class="tdclass">
											<B>
												16
											</B>
										</TD>
										<TD align=left class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL1601" tabindex="16">
										</TD>
										<TD class="tdclass01">
											<input value="199292.3" class="tdinput01" onKeyDown="checklock(this);"
											onchange="check(this);" maxLength="14" size="16" onFocus="Mover(this);"
											onblur="Mout(this);checkit(this);checkIntLength(this,16);" readOnly name="COL1602"
											tabindex="54">
										</TD>
										<TD class=tdclass align=middle>──</TD>
										<TD class=tdclass align=middle>──</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass01">
											应抵扣税额合计
										</TD>
										<TD colspan="2" align=left class="tdclass01">
											<B>
												17=12+13-14-15+16
											</B>
										</TD>
										<TD align=left class="tdclass01">
											<input value="954471.6" class="tdinput01" onkeydown="checklock(this);"
											onchange="check(this);" maxLength="14" size="16" onFocus="Mover(this);"
											onblur="Mout(this);checkit(this);checkIntLength(this,16);" name="COL1701"
											tabindex="17">
										</TD>
										<TD class="tdclass" align=middle>──</TD>
										<TD class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL1703" tabindex="93">
										</TD>
										<TD align=middle class="tdclass">──</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass01">
											实际抵扣税额
										</TD>
										<TD colspan="2" align=left class="tdclass01">
											<B>
												18（如17
												<11，则为17，否则为11）</B>
										</TD>
										<TD align=left class="tdclass01">
											<input value="954471.6" class="tdinput01" onkeydown="checklock(this);"
											onchange="check(this);" maxLength="14" size="16" onFocus="Mover(this);"
											onblur="Mout(this);checkit(this);checkIntLength(this,16);" name="COL1801"
											tabindex="18">
										</TD>
										<TD class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL1802" tabindex="56">
										</TD>
										<TD class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL1803" tabindex="94">
										</TD>
										<TD align=right class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL1804" tabindex="132">
										</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass01">
											应纳税额
										</TD>
										<TD colspan="2" align=left class="tdclass01">
											<B>
												19=11-18
											</B>
										</TD>
										<TD align=left class="tdclass01">
											<input value="91828.38" class="tdinput01" onkeydown="checklock(this);"
											onchange="check(this);" maxLength="14" size="16" onFocus="Mover(this);"
											onblur="Mout(this);checkit(this);checkIntLength(this,16);" name="COL1901"
											tabindex="19">
										</TD>
										<TD class="tdclass01">
											<input value="1894770.16" class="tdinput01" onKeyDown="checklock(this);"
											onchange="check(this);" maxLength="14" size="16" onFocus="Mover(this);"
											onblur="Mout(this);checkit(this);checkIntLength(this,16);" readOnly name="COL1902"
											tabindex="57">
										</TD>
										<TD class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL1903" tabindex="95">
										</TD>
										<TD align=right class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL1904" tabindex="133">
										</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass01">
											期末留抵税额
										</TD>
										<TD colspan="2" align=left class="tdclass01">
											<B>
												20=17-18
											</B>
										</TD>
										<TD align=left class="tdclass01">
											<input value="0.00" class="tdinput01" onkeydown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL2001" tabindex="20">
										</TD>
										<TD class="tdclass01" align=left>
											<input readOnly value="0.00" class="tdinput01" onKeyDown="checklock(this);"
											onchange="check(this);" maxLength="14" size="16" onFocus="Mover(this);"
											onblur="Mout(this);checkit(this);checkIntLength(this,16);" name="COL2002"
											tabindex="58">
										</TD>
										<TD class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL2003" tabindex="96">
										</TD>
										<TD align=middle class="tdclass">──</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass">
											简易计税办法计算的应纳税额
										</TD>
										<TD colspan="2" align=left class="tdclass">
											<B>
												21
											</B>
										</TD>
										<TD align=left class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL2101" tabindex="21">
										</TD>
										<TD class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL2102" tabindex="59">
										</TD>
										<TD class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL2103" tabindex="97">
										</TD>
										<TD align=right class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL2104" tabindex="135">
										</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass">
											按简易计税办法计算的纳税检查应补缴税额
										</TD>
										<TD colspan="2" align=left class="tdclass">
											<B>
												22
											</B>
										</TD>
										<TD align=left class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL2201" tabindex="22">
										</TD>
										<TD class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL2202" tabindex="60">
										</TD>
										<TD class=tdclass align=middle>──</TD>
										<TD class=tdclass align=middle>──</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass">
											应纳税额减征额
										</TD>
										<TD colspan="2" align=left class="tdclass">
											<B>
												23
											</B>
										</TD>
										<TD align=left class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL2301" tabindex="23">
										</TD>
										<TD class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL2302" tabindex="61">
										</TD>
										<TD class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL2303" tabindex="99">
										</TD>
										<TD align=right class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL2304" tabindex="137">
										</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass01">
											应纳税额合计
										</TD>
										<TD colspan="2" align=left class="tdclass01">
											<B>
												24=19+21-23
											</B>
										</TD>
										<TD align=left class="tdclass01">
											<input value="91828.38" class="tdinput01" onkeydown="checklock(this);"
											onchange="check(this);" maxLength="14" size="16" onFocus="Mover(this);"
											onblur="Mout(this);checkit(this);checkIntLength(this,16);" name="COL2401"
											tabindex="24">
										</TD>
										<TD class="tdclass01">
											<input value="1894770.16" class="tdinput01" onKeyDown="checklock(this);"
											onchange="check(this);" maxLength="14" size="16" onFocus="Mover(this);"
											onblur="Mout(this);checkit(this);checkIntLength(this,16);" readOnly name="COL2402"
											tabindex="62">
										</TD>
										<TD class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL2403" tabindex="100">
										</TD>
										<TD align=right class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL2404" tabindex="138">
										</TD>
									</TR>
									<TR height=20>
										<TD rowspan="14" align=center class="tdclass">
											<B>
												税
												<BR>
												款
												<BR>
												缴
												<BR>
												纳
												<BR>
											</B>
										</TD>
										<TD align=left class="tdclass">
											期初未缴税额（多缴为负数）
										</TD>
										<TD colspan="2" align=left class="tdclass">
											<B>
												25
											</B>
										</TD>
										<TD align=left class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL2501" readonly tabindex="25" title="本栏取CTAIS数据，不能修改">
										</TD>
										<TD class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL2502" tabindex="63" title="期初未缴税额（多缴为负数）本年累计数，同一年度不变">
										</TD>
										<TD class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL2503" readonly tabindex="101" title="本栏取CTAIS数据，不能修改">
										</TD>
										<TD align=right class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL2504" tabindex="139">
										</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass">
											实收出口开具专用缴款书退税额
										</TD>
										<TD colspan="2" align=left class="tdclass">
											<B>
												26
											</B>
										</TD>
										<TD align=left class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL2601" tabindex="26">
										</TD>
										<TD class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL2602" tabindex="64">
										</TD>
										<TD class=tdclass align=middle>──</TD>
										<TD class=tdclass align=middle>──</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass01">
											本期已缴税额
										</TD>
										<TD colspan="2" align=left class="tdclass01">
											<B>
												27=28+29+30+31
											</B>
										</TD>
										<TD align=left class="tdclass01">
											<input value="0.00" class="tdinput01" onkeydown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL2701" tabindex="27">
										</TD>
										<TD class="tdclass01">
											<input value="2339496.7" class="tdinput01" onKeyDown="checklock(this);"
											onchange="check(this);" maxLength="14" size="16" onFocus="Mover(this);"
											onblur="Mout(this);checkit(this);checkIntLength(this,16);" readOnly name="COL2702"
											tabindex="65">
										</TD>
										<TD class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL2703" tabindex="103">
										</TD>
										<TD align=right class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL2704" tabindex="141">
										</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass">
											①分次预缴税额
										</TD>
										<TD colspan="2" align=left class="tdclass">
											<B>
												28
											</B>
										</TD>
										<TD align=left class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL2801" readonly tabindex="28" title="本栏取CTAIS数据，不能修改">
										</TD>
										<TD class=tdclass align=middle>──</TD>
										<TD class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL2803" tabindex="104">
										</TD>
										<TD class=tdclass align=middle>──</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass">
											②出口开具专用缴款书预缴税额
										</TD>
										<TD colspan="2" align=left class="tdclass">
											<B>
												29
											</B>
										</TD>
										<TD align=left class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL2901" readonly tabindex="29" title="本栏取CTAIS数据，不能修改">
										</TD>
										<TD class=tdclass align=middle>──</TD>
										<TD class=tdclass align=middle>──</TD>
										<TD class=tdclass align=middle>──</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass">
											③本期缴纳上期应纳税额
										</TD>
										<TD colspan="2" align=left class="tdclass">
											<B>
												30
											</B>
										</TD>
										<TD align=left class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL3001" tabindex="30">
										</TD>
										<TD class="tdclass01">
											<input value="1940853.97" class="tdinput01" onKeyDown="checklock(this);"
											onchange="check(this);" maxLength="14" size="16" onFocus="Mover(this);"
											onblur="Mout(this);checkit(this);checkIntLength(this,16);" readOnly name="COL3002"
											tabindex="68">
										</TD>
										<TD class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL3003" tabindex="106">
										</TD>
										<TD align=right class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL3004" tabindex="144">
										</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass">
											④本期缴纳欠缴税额
										</TD>
										<TD colspan="2" align=left class="tdclass">
											<B>
												31
											</B>
										</TD>
										<TD align=left class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL3101" tabindex="31">
										</TD>
										<TD class="tdclass01">
											<input value="398642.73" class="tdinput01" onKeyDown="checklock(this);"
											onchange="check(this);" maxLength="14" size="16" onFocus="Mover(this);"
											onblur="Mout(this);checkit(this);checkIntLength(this,16);" readOnly name="COL3102"
											tabindex="69">
										</TD>
										<TD class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL3103" tabindex="107">
										</TD>
										<TD align=right class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL3104" tabindex="145">
										</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass01">
											期末未缴税额（多缴为负数）
										</TD>
										<TD colspan="2" align=left class="tdclass01">
											<B>
												32=24+25+26-27
											</B>
										</TD>
										<TD align=left class="tdclass01">
											<input value="91828.38" class="tdinput01" onkeydown="checklock(this);"
											onchange="check(this);" maxLength="14" size="16" onFocus="Mover(this);"
											onblur="Mout(this);checkit(this);checkIntLength(this,16);" name="COL3201"
											tabindex="32">
										</TD>
										<TD class="tdclass01">
											<input value="91828.38" class="tdinput01" onKeyDown="checklock(this);"
											onchange="check(this);" maxLength="14" size="16" onFocus="Mover(this);"
											onblur="Mout(this);checkit(this);checkIntLength(this,16);" readOnly name="COL3202"
											tabindex="70" title="期末未缴税额（多缴为负数）本年累计数等于本月数">
										</TD>
										<TD class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL3203" readonly tabindex="108">
										</TD>
										<TD align=right class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL3204" tabindex="146">
										</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass01">
											其中：欠缴税额（≥0）
										</TD>
										<TD colspan="2" align=left class="tdclass01">
											<B>
												33=25+26-27
											</B>
										</TD>
										<TD align=left class="tdclass01">
											<input value="0.00" class="tdinput01" onkeydown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL3301" tabindex="33">
										</TD>
										<TD class="tdclass01" align=middle>──</TD>
										<TD class="tdclass01">
											<input value="0.00" class="tdinput01" maxLength="14" size="16" name="COL3303" tabindex="109">
										</TD>
										<TD align=middle class="tdclass01">──</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass01">本期应补(退)税额</TD>
										<TD colspan="2" align=left class="tdclass01"><B>34=24-28-29</B></TD>
										<TD align=left class="tdclass01">
											<input value="91828.38" class="tdinput01" maxLength="14" size="16" tabindex="34">
										</TD>
										<TD class="tdclass01" align=middle>──</TD>
										<TD class="tdclass01" align=middle>
											<input value="0.00" class="tdinput01" maxLength="14" size="16" tabindex="110">
										</TD>
										<TD align=middle class="tdclass01">──</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass">即征即退实际退税额</TD>
										<TD colspan="2" align=left class="tdclass"><B>35</B></TD>
										<TD class=tdclass align=middle>──</TD>
										<TD class=tdclass align=middle>──</TD>
										<TD class="tdclass">
											<input value="0.00" class="tdinput" maxLength="14" size="16" tabindex="111">
										</TD>
										<TD align=right class="tdclass01">
											<input value="0.00" class="tdinput01" maxLength="14" size="16" readOnly tabindex="149">
										</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass">期初未缴查补税额</TD>
										<TD colspan="2" align=left class="tdclass"><B>36</B></TD>
										<TD align=left class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" tabindex="36" readonly title="本栏取CTAIS数据，不能修改">
										</TD>
										<TD class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL3602" tabindex="74" title="期初未缴查补税额本年累计数，同一年度不变">
										</TD>
										<TD class=tdclass align=middle>──</TD>
										<TD class=tdclass align=middle>──</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass">本期入库查补税额</TD>
										<TD colspan="2" align=left class="tdclass"><B>37</B></TD>
										<TD align=left class="tdclass">
											<input value="0.00" class="tdinput" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL3701" tabindex="37" readonly title="本栏取CTAIS数据，不能修改">
										</TD>
										<TD class="tdclass01">
											<input value="199292.3" class="tdinput01" onKeyDown="checklock(this);"
											onchange="check(this);" maxLength="14" size="16" onFocus="Mover(this);"
											onblur="Mout(this);checkit(this);checkIntLength(this,16);" readOnly name="COL3702"
											tabindex="75">
										</TD>
										<TD class=tdclass align=middle>──</TD>
										<TD class=tdclass align=middle>──</TD>
									</TR>
									<TR height=20>
										<TD align=left class="tdclass01">
											期末未缴查补税额
										</TD>
										<TD colspan="2" align=left class="tdclass01">
											<B>
												38=16+22+36-37
											</B>
										</TD>
										<TD align=left class="tdclass01">
											<input value="0.00" class="tdinput01" onkeydown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											name="COL3801" tabindex="38">
										</TD>
										<TD class="tdclass01">
											<input value="0.00" class="tdinput01" onKeyDown="checklock(this);" onchange="check(this);"
											maxLength="14" size="16" onFocus="Mover(this);" onblur="Mout(this);checkit(this);checkIntLength(this,16);"
											readOnly name="COL3802" tabindex="76" title="期末未缴查补税额本年累计数等于本月数">
										</TD>
										<TD class="tdclass01" align=middle>──</TD>
										<TD align=middle class="tdclass01">──</TD>
									</TR>
									<TR>
										<TD width="5%" rowspan="7" align=center class="tdclass">
											<B>授<BR>权<BR>声<BR>明</B>
										</TD>
										<TD align=left class="tdclass" colspan="2" rowspan="7">
											如果你已委托代理人申报，请填写下列资料： 为代理一切税务事宜，现授权 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											（地址）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 为本纳税人的代理申报人，任何与本申报表有关的往来文件，都可寄予此人。
											<BR>
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 授权人签字：
											<input maxLength="5" size="10" class="tdinput02" readonly value="" name="SQRQZ"
											tabindex="153">
										</TD>
										<TD width="5%" rowspan="7" align=center class="tdclass">
											<B>申<BR>报<BR>人<BR>声<BR>明</B>
										</TD>
										<TD rowspan="7" align=left class="tdclass" colspan="4">
											本纳税申报表是根据国家税收法律法规及相关规定填报的，我确定它是真实的、可靠的、完整的。
											<BR>
											　 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											声明人签字：
											<input maxLength="5" size="5" class="tdinput02" readonly value="" name="SMRQZ"
											tabindex="154">
										</TD>
									</TR>
									<tr></tr>
									<tr></tr>
									<tr></tr>
									<tr></tr>
									<tr></tr>
									<tr></tr>
									<tr></tr>
									<TR align=middle height=20>
										<td class="tdclass">主管税务机关：</td>
										<td class="tdclass" colspan="2">&nbsp;</td>
										<td class="tdclass">接收人：</td>
										<td class="tdclass" colspan="2">&nbsp;</td>
										<TD class="tdclass">接收日期：</TD>
										<td class="tdclass">&nbsp;</td>
									</TR>
									<TR height=20>
										<td colspan="7">
											<div align="center">
												<input type="checkbox" value="是否自动计算" name="zdjs" id="zdjs" checked tabindex="155">是否自动计算
												<input type="checkbox" value="修改年初数" id="ifupdate" tabindex="156">修改本年累计数
												<input class="input" type="button" value="保 存" id="bc" tabindex="157">
												<input class="input" type="button" value="删 除" id="sc" tabindex="158">
												<input class="input" type="button" value="打 印" id="dy" tabindex="159">
												<input class="input" type="button" value="提取数据" id="tqsj">
											</div>
										</td>
									</TR>
								</TBODY>
							</TABLE>
						</form>
					</TD>
				</TR>
			</TBODY>
		</TABLE>
	</div>