<extend name="TableNode1/base"/>
<block name="blocktable">
<input type='hidden' id="table_url" value="{$table_url}">
<input type='hidden' id="root_name" value="居民企业所得税2014（年报A）">
<input type='hidden' id="table_name" value="职工薪酬纳税调整明细表">
<input type='hidden' id="table_type" value="2">
<table id="bodytable" width="819px;">
<tr class='titletr title-notic'>
    <td colspan = '8' id='titletd'>职工薪酬纳税调整明细表</td>
</tr>
<tr class='titletr'>
    <td colspan = '8'>&nbsp;</td>
</tr>
<tr class='titletr'>
    <td colspan = '8'>&nbsp;</td>
</tr>
<tr class='titletr'>
    <td colspan = '8'>税款所属期：2015年02月01日至2015年02月28日</td>
</tr>
<tr class='titletr'>
    <td colspan = '8'>纳税人名称：河南起重机械有限公司</td>
</tr>
<tr class='titletr'>
    <td colspan = '5'>纳税人识别号：410711775106396</td>
    <td class = 'text-right' colspan="3" >金额单位：元（列至角至分）</td>
</tr>

<tr>
    <td class="gauge-style text-center" width="30px" rowspan="2">行次</td>
    <td class="gauge-style text-center" width="300px" rowspan="2">项目</td>
    <td class="gauge-style text-center" width="80px">账载金额</td>
    <td class="gauge-style text-center" width="80px">税收规定扣除率</td>
    <td class="gauge-style text-center" width="80px;">以前年度累计结转扣除额</td>
    <td class="gauge-style text-center" width="80px;">税收金额</td>
    <td class="gauge-style text-center" width="80px;">纳税调整金额</td>
    <td class="gauge-style text-center" width="80px;">累计结转以后年度扣除额</td>
</tr>
<tr>
    <td class="gauge-style text-center">1</td>
    <td class="gauge-style text-center">2</td>
    <td class="gauge-style text-center">3</td>
    <td class="gauge-style text-center">4</td>
    <td class="gauge-style text-center">5</td>
    <td class="gauge-style text-center">6</td>
</tr>
<tr>
    <td class="gauge-style text-center">1</td>
    <td class="gauge-style text-left">一、工资薪金支出</td>
    <td class="text-right">0.00</td>
    <td class="text-right">*</td>
    <td class="text-right">*</td>
    <td class="text-right">0.00</td>
    <td class="text-right gray">0.00</td>
    <td class="text-right">*</td>
</tr>
<tr>
    <td class="gauge-style text-center">2</td>
    <td class="gauge-style text-left">&emsp;&emsp;其中：股权激励</td>
    <td class="text-right">0.00</td>
    <td class="text-right">*</td>
    <td class="text-right">*</td>
    <td class="text-right">0.00</td>
    <td class="text-right gray">0.00</td>
    <td class="text-right">*</td>
</tr>
<tr>
    <td class="gauge-style text-center">3</td>
    <td class="gauge-style text-left">二、职工福利费支出</td>
    <td class="text-right">0.00</td>
    <td class="text-right gray">0.00</td>
    <td class="text-right">*</td>
    <td class="text-right">0.00</td>
    <td class="text-right gray">0.00</td>
    <td class="text-right">*</td>
</tr>
<tr>
    <td class="gauge-style text-center">4</td>
    <td class="gauge-style text-left">三、职工教育经费支出</td>
    <td class="text-right gray">0.00</td>
    <td class="text-right gray">*</td>
    <td class="text-right gray">0.00</td>
    <td class="text-right gray">0.00</td>
    <td class="text-right gray">0.00</td>
    <td class="text-right gray">0.00</td>
</tr>
<tr>
    <td class="gauge-style text-center">5</td>
    <td class="gauge-style text-left">&emsp;&emsp;其中：按税收规定比例扣除的职工教育经费</td>
    <td class="text-right">0.00</td>
    <td class="text-right gray">*</td>
    <td class="text-right">0.00</td>
    <td class="text-right">*</td>
    <td class="text-right gray">*</td>
    <td class="text-right gray">*</td>
</tr>
<tr>
    <td class="gauge-style text-center">6</td>
    <td class="gauge-style text-left">&emsp;&emsp;&emsp;&emsp;&emsp;按税收规定全额扣除的职工培训费用</td>
    <td class="text-right">0.00</td>
    <td class="text-right gray">0.00</td>
    <td class="text-right">0.00</td>
    <td class="text-right">0.00</td>
    <td class="text-right gray">0.00</td>
    <td class="text-right">0.00</td>
</tr>
<tr>
    <td class="gauge-style text-center">7</td>
    <td class="gauge-style text-left">四、公费经费支出</td>
    <td class="text-right">0.00</td>
    <td class="text-right gray">*</td>
    <td class="text-right">0.00</td>
    <td class="text-right">*</td>
    <td class="text-right gray">*</td>
    <td class="text-right">*</td>
</tr>
<tr>
    <td class="gauge-style text-center">8</td>
    <td class="gauge-style text-left">五、各类基本社会保障性交款</td>
    <td class="text-right">0.00</td>
    <td class="text-right">*</td>
    <td class="text-right">0.00</td>
    <td class="text-right">*</td>
    <td class="text-right gray">*</td>
    <td class="text-right">*</td>
</tr>
<tr>
    <td class="gauge-style text-center">9</td>
    <td class="gauge-style text-left">六、住房公积金</td>
    <td class="text-right">0.00</td>
    <td class="text-right">*</td>
    <td class="text-right">0.00</td>
    <td class="text-right">*</td>
    <td class="text-right gray">*</td>
    <td class="text-right">*</td>
</tr>
<tr>
    <td class="gauge-style text-center">10</td>
    <td class="gauge-style text-left">七、补充养老保险</td>
    <td class="text-right">0.00</td>
    <td class="text-right gray">*</td>
    <td class="text-right">0.00</td>
    <td class="text-right">*</td>
    <td class="text-right gray">*</td>
    <td class="text-right">*</td>
</tr>
<tr>
    <td class="gauge-style text-center">11</td>
    <td class="gauge-style text-left">八、补充医疗保险</td>
    <td class="text-right">0.00</td>
    <td class="text-right gray">0.00</td>
    <td class="text-right">0.00</td>
    <td class="text-right">0.00</td>
    <td class="text-right gray">*</td>
    <td class="text-right">*</td>
</tr>
<tr>
    <td class="gauge-style text-center">12</td>
    <td class="gauge-style text-left">九、其他</td>
    <td class="text-right">0.00</td>
    <td class="text-right">*</td>
    <td class="text-right">0.00</td>
    <td class="text-right">*</td>
    <td class="text-right gray">*</td>
    <td class="text-right">*</td>
</tr>
<tr>
    <td class="gauge-style text-center">13</td>
    <td class="gauge-style text-left">合计（1+3+4+7+8+9+10+11+12）</td>
    <td class="text-right gray">0.00</td>
    <td class="text-right">*</td>
    <td class="text-right gray">0.00</td>
    <td class="text-right gray">*</td>
    <td class="text-right gray">*</td>
    <td class="text-right gray">*</td>
</tr>

</table>
</block>
</extend>