<extend name="TableNode1/base"/>
<block name="blocktable">
<input type='hidden' id="table_url" value="{$table_url}">
<input type='hidden' id="root_name" value="居民企业所得税2014（年报A）">
<input type='hidden' id="table_name" value="企业所得税年度纳税申报表填报表单">
<input type='hidden' id="table_type" value="2">
<table id="bodytable" width="592px;">
    <tr class='titletr title-notic'>
        <td colspan = '3' id='titletd'>企业所得税年度纳税申报表填报表单</td>
    </tr>
    <tr class="titletr title-notic">
        <td colspan="3">&nbsp;</td>
    </tr>
    <tr class='titletr title-notic'>
        <td colspan = '3' class='font-weight' style="color: red;" >如享受小型微利企业减免优惠，请勾选附表A107040<br/>组织机构类型：企业；行业名称为：电气设备批发；</td>
    </tr>
    <tr class='titletr'>
        <td colspan = '3'>&nbsp;</td>
    </tr>
    <tr class='titletr'>
        <td colspan = '3'>税款所属期：2015年02月01日至2015年02月28日</td>
    </tr>
    <tr class='titletr'>
        <td colspan = '3'>纳税人识别号：410711775106396</td>
    </tr>
    <tr class='titletr'>
        <td colspan = '3'>纳税人名称：新乡市太行橡塑机械有限公司</td>
    </tr>
    <tr>
        <td class="gauge-style text-center" rowspan="2" width="80px"></td>
        <td class="gauge-style text-center" rowspan="2" width="400px"></td>
        <td class="gauge-style text-center" width="80px"></td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-center gauge-style">√</td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-center gauge-style">√</td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox" checked >
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox" disabled="true">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox" checked >
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox" disabled="true">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox" disabled="true">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox" disabled="true">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox" disabled="true">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox" checked disabled="true">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox" checked disabled="true">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox" disabled="true" checked>
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox" checked disabled="true">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox" checked disabled="true">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox" checked disabled="true">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox" checked disabled="true">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox" disabled="true">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox" disabled="true">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-center"></td>
        <td class="text-center gauge-style"></td>
        <td class="text-left ">
            <input type="checkbox">
        </td>
    </tr>
    <tr>
        <td class="gauge-style text-left" colspan="3"></td>
    </tr>

</table>
</block>
</extend>