<extend name="TableNode1/base"/>
<block name="blocktable">
<input type='hidden' id="table_url" value="{$table_url}">
<input type='hidden' id="root_name" value="居民企业所得税2014（年报A）">
<input type='hidden' id="table_name" value="期间费用明细表">
<input type='hidden' id="table_type" value="2">
<table id="bodytable" width="759px;">
    <tr class='titletr title-notic'>
        <td colspan = '8' id='titletd'>期间费用明细表</td>
    </tr>
    <tr class='titletr'>
        <td colspan = '8'>&nbsp;</td>
    </tr>
    <tr class='titletr'>
        <td colspan = '8'>&nbsp;</td>
    </tr>
    <tr class='titletr'>
        <td colspan = '8'>税款所属期：2015年02月01日至2015年02月28日</td>
    </tr>
    <tr class='titletr'>
        <td colspan = '8'>纳税人名称：（公章）河南起重机械有限公司</td>
    </tr>
    <tr class='titletr'>
        <td colspan = '5'>纳税人识别号：410711775106396</td>
        <td class = 'text-right' colspan="3" >金额单位：元（至角至分）</td>
    </tr>

    <tr>
        <td class="gauge-style text-center" width="30px" rowspan="2">行次</td>
        <td class="gauge-style text-center" width="120px" rowspan="2">项目</td>
        <td class="gauge-style text-center" width="100px">销售费用</td>
        <td class="gauge-style text-center" width="100px">其中：境外支付</td>
        <td class="gauge-style text-center" width="100px;">管理费用</td>
        <td class="gauge-style text-center" width="100px;">其中：境外支付</td>
        <td class="gauge-style text-center" width="100px;">财务费用</td>
        <td class="gauge-style text-center" width="100px;">其中：境外支付</td>
    </tr>
    <tr>
        <td class="gauge-style text-center">1</td>
        <td class="gauge-style text-center">2</td>
        <td class="gauge-style text-center">3</td>
        <td class="gauge-style text-center">4</td>
        <td class="gauge-style text-center">5</td>
        <td class="gauge-style text-center">6</td>
    </tr>
    <tr>
        <td class="gauge-style text-center">1</td>
        <td class="gauge-style text-left">一、职工薪酬</td>
        <td class="text-right">0.00</td>
        <td class="text-right gray">*</td>
        <td class="text-right">0.00</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
    </tr>
    <tr>
        <td class="gauge-style text-center">2</td>
        <td class="gauge-style text-left">二、劳务费</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
    </tr>
    <tr>
        <td class="gauge-style text-center">3</td>
        <td class="gauge-style text-left">三、咨询顾问费</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
    </tr>
    <tr>
        <td class="gauge-style text-center">4</td>
        <td class="gauge-style text-left">四、业务招待费</td>
        <td class="text-right">0.00</td>
        <td class="text-right gray">*</td>
        <td class="text-right">0.00</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
    </tr>
    <tr>
        <td class="gauge-style text-center">5</td>
        <td class="gauge-style text-left">五、广告费和业务宣传费</td>
        <td class="text-right">0.00</td>
        <td class="text-right gray">*</td>
        <td class="text-right">0.00</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
    </tr>
    <tr>
        <td class="gauge-style text-center">6</td>
        <td class="gauge-style text-left">六、佣金和手续费</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
    </tr>
    <tr>
        <td class="gauge-style text-center">7</td>
        <td class="gauge-style text-left">七、资产折旧摊销费</td>
        <td class="text-right">0.00</td>
        <td class="text-right gray">*</td>
        <td class="text-right">0.00</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
    </tr>
    <tr>
        <td class="gauge-style text-center">8</td>
        <td class="gauge-style text-left">八、财务消耗、盘亏及损毁损失</td>
        <td class="text-right">0.00</td>
        <td class="text-right gray">*</td>
        <td class="text-right">0.00</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
    </tr>
    <tr>
        <td class="gauge-style text-center">9</td>
        <td class="gauge-style text-left">九、办公费</td>
        <td class="text-right">0.00</td>
        <td class="text-right gray">*</td>
        <td class="text-right">0.00</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
    </tr>
    <tr>
        <td class="gauge-style text-center">10</td>
        <td class="gauge-style text-left">十、董事会费</td>
        <td class="text-right">0.00</td>
        <td class="text-right gray">*</td>
        <td class="text-right">0.00</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
    </tr>
    <tr>
        <td class="gauge-style text-center">11</td>
        <td class="gauge-style text-left">十一、租赁费</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
    </tr>
    <tr>
        <td class="gauge-style text-center">12</td>
        <td class="gauge-style text-left">十二、诉讼费</td>
        <td class="text-right">0.00</td>
        <td class="text-right gray">*</td>
        <td class="text-right">0.00</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
    </tr>
    <tr>
        <td class="gauge-style text-center">13</td>
        <td class="gauge-style text-left">十三、差旅费</td>
        <td class="text-right">0.00</td>
        <td class="text-right gray">*</td>
        <td class="text-right">0.00</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
    </tr>
    <tr>
        <td class="gauge-style text-center">14</td>
        <td class="gauge-style text-left">十四、保险费</td>
        <td class="text-right">0.00</td>
        <td class="text-right gray">*</td>
        <td class="text-right">0.00</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
    </tr>
    <tr>
        <td class="gauge-style text-center">15</td>
        <td class="gauge-style text-left">十五、运输仓储费</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
    </tr>
    <tr>
        <td class="gauge-style text-center">16</td>
        <td class="gauge-style text-left">十六、修理费</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
    </tr>
    <tr>
        <td class="gauge-style text-center">17</td>
        <td class="gauge-style text-left">十七、包装费</td>
        <td class="text-right">0.00</td>
        <td class="text-right gray">*</td>
        <td class="text-right">0.00</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
    </tr>
    <tr>
        <td class="gauge-style text-center">18</td>
        <td class="gauge-style text-left">十八、技术转让费</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
    </tr>
    <tr>
        <td class="gauge-style text-center">19</td>
        <td class="gauge-style text-left">十九、研究费用</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
    </tr>
    <tr>
        <td class="gauge-style text-center">20</td>
        <td class="gauge-style text-left">二十、各项税费</td>
        <td class="text-right">0.00</td>
        <td class="text-righ gray">*</td>
        <td class="text-right">0.00</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
    </tr>
    <tr>
        <td class="gauge-style text-center">21</td>
        <td class="gauge-style text-left">二十一、利息收支</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
    </tr>
    <tr>
        <td class="gauge-style text-center">22</td>
        <td class="gauge-style text-left">二十二、汇兑差额</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
    </tr>
    <tr>
        <td class="gauge-style text-center">23</td>
        <td class="gauge-style text-left">二十三、现金折扣</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
        <td class="text-right gray">*</td>
        <td class="text-right">0.00</td>
        <td class="text-right gray">*</td>
    </tr>
    <tr>
        <td class="gauge-style text-center">24</td>
        <td class="gauge-style text-left">二十四、其它</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
        <td class="text-right">0.00</td>
    </tr>
    <tr>
        <td class="gauge-style text-center">25</td>
        <td class="gauge-style text-left">合计（1+2+3+…24）</td>
        <td class="text-right gray">0.00</td>
        <td class="text-right gray">0.00</td>
        <td class="text-right gray">0.00</td>
        <td class="text-right gray">0.00</td>
        <td class="text-right gray">0.00</td>
        <td class="text-right gray">0.00</td>
    </tr>


</table>
</block>
</extend>