<extend name="TableNode1/base"/>
<block name="blocktable">
    <input type='hidden' id="table_url" value="{$table_url}">
    <input type='hidden' id="root_name" value="居民企业所得税2014（年报A）">
    <input type='hidden' id="table_name" value="职工薪酬纳税调整明细表">
    <input type='hidden' id="table_type" value="2">
    <table id="bodytable" width="734px;">
        <tr class='titletr title-notic'>
            <td colspan = '3' id='titletd'>职工薪酬纳税调整明细表</td>
        </tr>
        <tr class='titletr'>
            <td colspan = '3'>&nbsp;</td>
        </tr>
        <tr class='titletr'>
            <td colspan = '3'>&nbsp;</td>
        </tr>
        <tr class='titletr'>
            <td colspan = '3'>税款所属期：2015年02月01日至2015年02月28日</td>
        </tr>
        <tr class='titletr'>
            <td colspan = '3'>纳税人名称：河南起重机械有限公司</td>
        </tr>
        <tr class='titletr'>
            <td colspan = '2'>纳税人识别号：410711775106396</td>
            <td class = 'text-right' colspan="1" >金额单位：元（列至角至分）</td>
        </tr>

        <tr>
            <td class="gauge-style text-center" width="30px">行次</td>
            <td class="gauge-style text-center" width="500px">项目</td>
            <td class="gauge-style text-center" width="200px">金额</td>
        </tr>
        <tr>
            <td class="gauge-style text-center">1</td>
            <td class="gauge-style text-left">一、本年广告费和业务宣传费支出</td>
            <td class="text-right">0.00</td>
        </tr>
        <tr>
            <td class="gauge-style text-center">2</td>
            <td class="gauge-style text-left">&emsp;&emsp;减：不允许扣除的广告费和业务宣传费支出</td>
            <td class="text-right">0.00</td>
        </tr>
        <tr>
            <td class="gauge-style text-center">3</td>
            <td class="gauge-style text-left">二、本年符合条件的广告费和业务宣传费支出（1-2）</td>
            <td class="text-right gray">0.00</td>
        </tr>
        <tr>
            <td class="gauge-style text-center">4</td>
            <td class="gauge-style text-left">三、本年计算广告费和业务宣传费扣除限额的销售（营业）收入</td>
            <td class="text-right">0.00</td>
        </tr>
        <tr>
            <td class="gauge-style text-center">5</td>
            <td class="gauge-style text-left">&emsp;&emsp;税收规定扣除率</td>
            <td class ='tddata icon'>
                <div class='divimage'></div>
                <div class='divdata'>0.00</div>
            </td>
        </tr>
        <tr>
            <td class="gauge-style text-center">6</td>
            <td class="gauge-style text-left">四、本企业计算的广告费和业务宣传费扣除限额（4x5）</td>
            <td class="text-right gray">0.00</td>
        </tr>
        <tr>
            <td class="gauge-style text-center">7</td>
            <td class="gauge-style text-left">五、本年结转以后年度扣除额（3>6，本行＝3-6，3≦6，本行＝0）</td>
            <td class="text-right gray">0.00</td>
        </tr>
        <tr>
            <td class="gauge-style text-center">8</td>
            <td class="gauge-style text-left">&emsp;&emsp;加：以前年度累计结转扣除额</td>
            <td class="text-right">0.00</td>
        </tr>
        <tr>
            <td class="gauge-style text-center">9</td>
            <td class="gauge-style text-left">&emsp;&emsp;减：本年扣除的以前年度结转额［3>6，本行=0，3≦6，本行＝8或（6-3）孰小值］</td>
            <td class="text-right gray">0.00</td>
        </tr>
        <tr>
            <td class="gauge-style text-center">10</td>
            <td class="gauge-style text-left">六、按照分摊协议归集至其他关联方的广告费和业务宣传费（10 ≦3或6孰小值）</td>
            <td class="text-right">0.00</td>
        </tr>
        <tr>
            <td class="gauge-style text-center">11</td>
            <td class="gauge-style text-left">&emsp;&emsp;按分摊协议从其他关联方归集至本企业的广告费和业务宣传费</td>
            <td class="text-right">0.00</td>
        </tr>
        <tr>
            <td class="gauge-style text-center">12</td>
            <td class="gauge-style text-left">七、本年广告费和业务宣传费支出纳税调整金额（3>6, 本行＝2+3-6+10－11；3 ≦6，本行＝2+10－11-9）</td>
            <td class="text-right gray">0.00</td>
        </tr>
        <tr>
            <td class="gauge-style text-center">13</td>
            <td class="gauge-style text-left">八、累计结转以后年度扣除额（7+8-9）</td>
            <td class="text-right">0.00</td>
        </tr>
    </table>
</block>
</extend>