<extend name="TableNode1/base"/>
<block name="blocktable">
    <input type='hidden' id="table_url" value="{$table_url}">
    <input type='hidden' id="root_name" value="居民企业所得税2014（年报A）">
    <input type='hidden' id="table_name" value="固定资产加速折旧、扣除明细表">
    <input type='hidden' id="table_type" value="2">
    <table id="bodytable" width="1752px;">
        <tr class='titletr title-notic'>
            <td colspan = '22' id='titletd'>固定资产加速折旧、扣除明细表</td>
        </tr>
        <tr class='titletr'>
            <td colspan = '22'>&nbsp;</td>
        </tr>
        <tr class='titletr'>
            <td colspan = '22'>&nbsp;</td>
        </tr>
        <tr class='titletr'>
            <td colspan = '22'>税款所属期：2015年02月01日至2015年02月28日</td>
        </tr>
        <tr class='titletr'>
            <td colspan = '22'>纳税人名称：河南起重机械有限公司</td>
        </tr>
        <tr class='titletr'>
            <td colspan = '12'>纳税人识别号：410711775106396</td>
            <td class = 'text-right' colspan="10" >金额单位：元（列至角至分）</td>
        </tr>
        <tr>
            <td class="gauge-style text-center" rowspan="4"></td>
            <td class="gauge-style text-center" rowspan="4"></td>
            <td class="gauge-style text-center" colspan="3"></td>
            <td class="gauge-style text-center" colspan="3"></td>
            <td class="gauge-style text-center" colspan="3"></td>
            <td class="gauge-style text-center" colspan="3"></td>
            <td class="gauge-style text-center" colspan="3"></td>
            <td class="gauge-style text-center" colspan="5"></td>
        </tr>
        <tr>
            <td class="gauge-style text-center" rowspan="2"></td>
            <td class="gauge-style text-center" rowspan="2"></td>
            <td class="gauge-style text-center" rowspan="2"></td>
            <td class="gauge-style text-center" rowspan="2"></td>
            <td class="gauge-style text-center" rowspan="2"></td>
            <td class="gauge-style text-center" rowspan="2"></td>
            <td class="gauge-style text-center" rowspan="2"></td>
            <td class="gauge-style text-center" rowspan="2"></td>
            <td class="gauge-style text-center" rowspan="2"></td>
            <td class="gauge-style text-center" rowspan="2"></td>
            <td class="gauge-style text-center" rowspan="2"></td>
            <td class="gauge-style text-center" rowspan="2"></td>
            <td class="gauge-style text-center" rowspan="2"></td>
            <td class="gauge-style text-center" rowspan="2"></td>
            <td class="gauge-style text-center" rowspan="2"></td>
            <td class="gauge-style text-center" rowspan="2"></td>
            <td class="gauge-style text-center" colspan="2"></td>
            <td class="gauge-style text-center" colspan="2"></td>
        </tr>
        <tr>
            <td class="gauge-style text-center"></td>
            <td class="gauge-style text-center"></td>
            <td class="gauge-style text-center"></td>
            <td class="gauge-style text-center"></td>
        </tr>
        <tr>
            <td class="gauge-style text-center"></td>
            <td class="gauge-style text-center"></td>
            <td class="gauge-style text-center"></td>
            <td class="gauge-style text-center"></td>
            <td class="gauge-style text-center"></td>
            <td class="gauge-style text-center"></td>
            <td class="gauge-style text-center"></td>
            <td class="gauge-style text-center"></td>
            <td class="gauge-style text-center"></td>
            <td class="gauge-style text-center"></td>
            <td class="gauge-style text-center"></td>
            <td class="gauge-style text-center"></td>
            <td class="gauge-style text-center"></td>
            <td class="gauge-style text-center"></td>
            <td class="gauge-style text-center"></td>
            <td class="gauge-style text-center"></td>
            <td class="gauge-style text-center"></td>
            <td class="gauge-style text-center"></td>
            <td class="gauge-style text-center"></td>
            <td class="gauge-style text-center"></td>
        </tr>
        <tr>
            <td class="gauge-style text-center" width="30px">1</td>
            <td class="gauge-style text-center" width="100px"></td>
            <td class=" text-right gray" width="80px">0.00</td>
            <td class=" text-right gray" width="80px">0.00</td>
            <td class=" text-right gray" width="80px">0.00</td>
            <td class=" text-right gray" width="80px">0.00</td>
            <td class=" text-right gray" width="80px">0.00</td>
            <td class=" text-right gray" width="80px">0.00</td>
            <td class=" text-right gray" width="80px">0.00</td>
            <td class=" text-right gray" width="80px">0.00</td>
            <td class=" text-right gray" width="80px">0.00</td>
            <td class=" text-right gray" width="80px">0.00</td>
            <td class=" text-right gray" width="80px">0.00</td>
            <td class=" text-right gray" width="80px">0.00</td>
            <td class=" text-right gray" width="80px">0.00</td>
            <td class=" text-right gray" width="80px">0.00</td>
            <td class=" text-right gray" width="80px">0.00</td>
            <td class=" text-right gray" width="80px">0.00</td>
            <td class=" text-right gray" width="80px">0.00</td>
            <td class=" text-right gray" width="80px">0.00</td>
            <td class=" text-right gray" width="80px">0.00</td>
            <td class=" text-right gray" width="80px">0.00</td>
        </tr>
        <tr>
            <td class="gauge-style text-center">2</td>
            <td class="gauge-style text-center"></td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right gray">0.00</td>
        </tr>
        <tr>
            <td class="gauge-style text-center">3</td>
            <td class="gauge-style text-center"></td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right gray">0.00</td>
        </tr>
        <tr>
            <td class="gauge-style text-center">4</td>
            <td class="gauge-style text-center"></td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right gray">0.00</td>
        </tr>
        <tr>
            <td class="gauge-style text-center">5</td>
            <td class="gauge-style text-center"></td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right gray">0.00</td>
        </tr>
        <tr>
            <td class="gauge-style text-center">6</td>
            <td class="gauge-style text-center"></td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right gray">0.00</td>
        </tr>
        <tr>
            <td class="gauge-style text-center">7</td>
            <td class="gauge-style text-center"></td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right gray">0.00</td>
        </tr>
        <tr>
            <td class="gauge-style text-center">8</td>
            <td class="gauge-style text-center"></td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right gray">0.00</td>
        </tr>
        <tr>
            <td class="gauge-style text-center">9</td>
            <td class="gauge-style text-center"></td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right gray">0.00</td>
        </tr>
        <tr>
            <td class="gauge-style text-center">10</td>
            <td class="gauge-style text-center"></td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right gray">0.00</td>
        </tr>
        <tr>
            <td class="gauge-style text-center">11</td>
            <td class="gauge-style text-center"></td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right gray">0.00</td>
        </tr>
        <tr>
            <td class="gauge-style text-center">12</td>
            <td class="gauge-style text-center"></td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right">0.00</td>
            <td class=" text-right gray">0.00</td>
        </tr>
        <tr>
            <td class="gauge-style text-center">13</td>
            <td class="gauge-style text-center"></td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
            <td class=" text-right gray">0.00</td>
        </tr>

    </table>
</block>
</extend>