<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <include file="Public/Home/headFile.html" />
    <style type="text/css">
        .top-tool{border: 1px solid #ccc; height: 40px; width: 100%;}
        td{text-align: center;}
    </style>
    <script type="text/javascript">

    </script>
</head>
<body style="background-color:#FFFFFF; ">
    <table class="top-tool" rules="cols">
        <tr>
            <td width="150px">申报日期</td>
            <td width="80px">开始日期：</td>
            <td id="start-time" width="100px"></td>
            <td width="80px">结束日期：</td>
            <td id="end-time" width="100px"></td>
            <td width="200px;"> </td>
            <td></td>
        </tr>
    </table>
</body>
</html>