body{
	margin:0px;
	padding:0px;
}
#bodydiv{
}
table{
	border-collapse: collapse;
	border:0px solid #111111;
	background-color: #ffffff;
    /*cursor:crosshair;*/

}
table td{
	border:1px solid #111111;
	height:22px;

}
.topTd{
	background-color: #C8D8FA;
	font-size: 12px;
}
.toptr{
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}
.tdtime{
	padding: 0px;
	width:128px;
}
.tadata{
	text-align: right;
	font-size: 13px;
	width:130px;
	font-family: 宋体;
}
.green{
	background-color: #CFFDCE;
}
.tdgray{
	background-color: #C0C0C0;
}
#columns{
	width:80px;
}
.titletr{
	font-size: 12px;
}
.titletr td{
	border:0px solid;
}
.title-notic{
	text-align: center;
}
#titletd{
	font-size: 21px;
	font-weight: 600;
}
.divimage{
	width:5px;
	height:5px;
	margin-top:-3px;
	margin-right:1px;
	float:right;
}
.divdata{
	float:right;
	margin-right:-3px;
}
.trfoot{
    height: 22px;
    font-size: 13px;
}
.trtdfoot{
    height: 22px;
    font-size: 13px;
    border:0px solid;
}
.trtdfoot td{
    height: 22px;
    font-size: 13px;
    border:0px solid;
}
.input-align-right{
    border-top:0px solid;
    text-align:right;
    padding-right:30px;
    font-size: 13px;
}
.border-bottom-none{
    padding-top:10px;
    vertical-align: text-top;
    border-bottom:0px solid;
}
