<extend name="TableNode1/base" xmlns="http://www.w3.org/1999/html"/>
<block name="blocktable">
    <input type='hidden' id="table_url" value="{$table_url}">
    <input type='hidden' id="root_name" value="关联业务往来报表">
    <input type='hidden' id="table_name" value="中华人民共和国企业年度关联业务往来报表">
    <input type='hidden' id="table_type" value="3">
    <table id="bodytable" width="700">
        <tr class='titletr title-notic' height="180px">
            <td colspan = '2' id='titletd' style="font-size: 35pt;"><b>中华人民共和国</b></br><b>企业年度关联业务往来报表</b></td>
        </tr>
        <tr class='titletr' height="60px;">
            <td width="400px">&nbsp;</td>
            <td><p style="margin-left: -45px; font-size: 18px;">所属年度：<u>&emsp;2014&emsp;</u> 年</p></td>
        </tr>
        <tr class="titletr" height="45px;">
            <td style="padding-left:100px; font-size: 18px;">纳税人名称（公章）：</td>
            <td style="text-align: left; border-bottom: solid 1px #000; font-size: 15px;">河南起重机器有限公司</td>
        </tr>
        <tr class="titletr" height="45px;">
            <td style="padding-left:100px; font-size: 18px;">纳税人识别号：</td>
            <td style="text-align: left; border-bottom: solid 1px #000; font-size: 15px;">41071775106396</td>
        </tr>
        <tr class="titletr" height="45px;">
            <td style="padding-left:100px; font-size: 18px;">法定代表人：</td>
            <td style="text-align: left; border-bottom: solid 1px #000; font-size: 15px;">郭章先</td>
        </tr>
        <tr class="titletr" height="45px;">
            <td style="padding-left:100px; font-size: 18px;">联系电话：</td>
            <td style="text-align: left; border-bottom: solid 1px #000; font-size: 15px;">13903730918</td>
        </tr>
        <tr class="titletr" height="45px;">
            <td style="padding-left:100px; font-size: 18px;">申报日期： </td>
            <td style="text-align: left; border-bottom: solid 1px #000; font-size: 15px;"></td>
        </tr>
        <tr class="titletr" height="45px;">
            <td style="padding-left:100px; font-size: 18px;">主管税务机关名称（受理专用章）：</td>
            <td style="text-align: left; border-bottom: solid 1px #000; font-size: 15px;">河南省延津县管家税务局</td>
        </tr>
        <tr class="titletr" height="45px;">
            <td style="padding-left:100px; font-size: 18px;">受理税务人员：</td>
            <td style="text-align: left; border-bottom: solid 1px #000; font-size: 15px;"></td>
        </tr>
        <tr class="titletr" height="45px;">
            <td style="padding-left:100px; font-size: 18px;">联系电话：</td>
            <td style="text-align: left; border-bottom: solid 1px #000; font-size: 15px;"></td>
        </tr>
        <tr class="titletr" height="45px;">
            <td style="padding-left:100px; font-size: 18px;">受理日期：</td>
            <td style="text-align: left; border-bottom: solid 1px #000; font-size: 15px;"></td>
        </tr>

    </table>
</block>
</extend>